@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models

@{
    ViewBag.Title = "Index";

}

<h2>Haworth Index</h2>

<div class="well">
    @(
 Html.MvcFileUpload()
        .UploadAt(Url.Action("UploadFile"))
        .ReturnAt("/Haworth")
        .WithFileTypes(@"/(\.|\/)(xls?)$/i")
        .WithMaxFileSize(5000000)
        .AddFormField("entityId", "1234")
        .UIStyle(UploadUI.Bootstrap)
        .RenderPopup("Manage Files", "#dlgFileUpload", new { @class = "btn btn-large btn-primary" })
    )
</div>

<!-- file upload modal dialog -->
<!-- Bootstrap 3.1 introduced a change into how remote content gets loaded into the dialog so that a div with class="modal-content" is now required in order to load the
    content specified by href (see MvcFileUploadModelBuilder.RenderPopup() http://stackoverflow.com/questions/18378720/bootstrap-3-with-remote-modal ) -->
 <!-- file upload modal dialog -->
<div class="modal fade" id="dlgFileUpload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
    </div>
</div> <!-- /.modal --> 

@section styles{
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/blueimp")" />
    <link rel="Stylesheet" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/fileupload")" />
}


@section Scripts{
    <script type="text/javascript">

    </script>
}